.claim {
    border  : 2px solid theme-color(danger);
    padding : 1rem;
}

body {
    padding-top : 65px;
}

#main {
    position   : relative;
    z-index    : 1;
    padding    : 0 60px 30px;
    overflow-x : hidden;

    &.fix-sidebar {
        position : static;

        .sidebar {
            position : fixed;
        }
    }
}

#header {
    padding        : .5rem 60px;
    position       : fixed;
    width          : 100%;
    top            : 0;
    box-shadow     : 0 0 1px rgba(0, 0, 0, 0.25);
    transition     : background-color 0.3s ease-in-out;
    background     : #fff;
    z-index        : 1000;

    svg {
        //margin-right : auto;
        //margin-left  : auto;
        display : block;
        width   : 140px;
    }
    path {
        stroke : #fff !important;
    }
    text {
        fill : #fff !important;
    }
}

#ad {
    float   : right;
    width   : 180px;
    z-index : 99;

    @media screen and (min-width : 1100px) {
        bottom   : 10px;
        right    : 10px;
        position : fixed;
    }
}

.sidebar {
    position   : absolute;
    z-index    : 10;
    top        : 65px;
    left       : 0;
    bottom     : 0;
    overflow-x : hidden;
    overflow-y : auto;
    .sidebar-inner {
        width   : 260px;
        padding : 40px 20px 60px 60px;
    }
}

.content {
    position     : relative;
    padding      : 2.2em 0;
    max-width    : 650px;
    margin       : 0 auto;
    padding-left : 50px;
}

@media screen and (max-width : 1300px) {
    .content {
        margin-left : 180px;
    }
}

@media screen and (max-width : 900px) {
    .sidebar {
        position          : fixed;
        z-index           : 10;
        background-color  : #f9f9f9;
        height            : 100%;
        top               : 0;
        left              : 0;
        box-shadow        : 0 0 10px rgba(0, 0, 0, .2);
        transition        : all .4s cubic-bezier(0.4, 0, 0, 1);
        -webkit-transform : translate(-280px, 0);
        transform         : translate(-280px, 0);
    }
    .sidebar-inner {
        padding    : 50px 10px 10px 20px;
        box-sizing : border-box;
    }
    .sidebar-inner-index {
        padding : 10px 10px 10px 20px;
    }
    .search-query {
        width         : 200px;
        margin-bottom : 10px;
    }
    .main-menu {
        display : block;
    }
    &.open {
        -webkit-transform : translate(0, 0);
        transform         : translate(0, 0);
    }

    .content {
        margin       : auto;
        padding-left : 0;
    }

    #main {
        padding : 2em 1.4em 0;
    }
}